{% import "AppBundle::macros.html.twig" as macros %}

{% if card.type_code == 'hero' %}
    Threat: {{ macros.integer_or_x(card.threat) }}.
{% endif %}

{% if card.type_code == 'ally' or card.type_code == 'attachment' or card.type_code == 'event' or card.type_code == 'player-side-quest' or card.type_code == 'contract' or card.type_code == 'treasure' %}
    Cost: {{ macros.integer_or_x(card.cost) }}.
{% endif %}

<span class="pull-right">
    {%  if card.victory %}
        Victory {{  card.victory }}.
    {% endif %}
    {% if card.type_code == 'hero' or card.type_code == 'ally' %}
        {{ macros.integer_or_x(card.willpower) }} <span class="icon icon-willpower" title="Willpower" data-toggle="tooltip" data-container="body"></span>&#160;
        {{ macros.integer_or_x(card.attack) }} <span class="icon icon-attack" title="Attack" data-toggle="tooltip" data-container="body"></span>&#160;
        {{ macros.integer_or_x(card.defense) }} <span class="icon icon-defense" title="Defense" data-toggle="tooltip" data-container="body"></span>&#160;
        {{ macros.integer_or_x(card.health) }} <span class="icon icon-health" title="Hit Points" data-toggle="tooltip" data-container="body"></span>&#160;
    {% endif %}
</span>
