<form method="GET" action="{{ path('decklists_list', {type:'find'}) }}" role="form">
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Sphere</label>
                <select class="form-control" id="sphere" name="sphere">
                    <option value="">any</option>
                    {% for sphere in spheres %}
                        <option value="{{ sphere.code }}"{% if sphere_selected is defined and sphere_selected == sphere.code %} selected="selected"{% endif %}>{{ sphere.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="">Number of Core Sets</label>
                <select name="numcores" id="numcores" class="form-control">
                    <option value="3" {% if numcores == '3' %}selected="selected"{% endif %}>3</option>
                    <option value="2" {% if numcores == '2' %}selected="selected"{% endif %}>2</option>
                    <option value="1" {% if numcores == '1' %}selected="selected"{% endif %}>1</option>
                </select>
            </div>
            <div class="form-group">
                <label for="threat">Starting Threat</label>
                <div class="row">
                    <div class="col-xs-4">
                        <select name="threato" id="threato" class="form-control">
                            <option value=":" {% if threato == ':' %}selected="selected"{% endif %}>=</option>
                            <option value="<" {% if threato == '<' %}selected="selected"{% endif %}>&lt;</option>
                            <option value=">" {% if threato == '>' %}selected="selected"{% endif %}>&gt;</option>
                        </select>
                    </div>
                    <div class="col-xs-8">
                        <input id="threat" name="threat" value="{{ threat }}" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="threat">Author Reputation</label>
                <div class="row">
                    <div class="col-xs-4">
                        <select name="reputationo" id="reputationo" class="form-control">
                            <option value=":" {% if reputationo == ':' %}selected="selected"{% endif %}>=</option>
                            <option value="<" {% if reputationo == '<' %}selected="selected"{% endif %}>&lt;</option>
                            <option value=">" {% if reputationo == '>' %}selected="selected"{% endif %}>&gt;</option>
                        </select>
                    </div>
                    <div class="col-xs-8">
                        <input id="reputation" name="reputation" value="{{ reputation }}" class="form-control">
                    </div>
                </div>
            </div>            
            <div class="form-group">
                <label for="">Cards used</label>
                {{ cards | default('') | raw }}
                <input type="text" class="form-control" id="card" placeholder="Enter card name">
            </div>
            <div class="form-group">
                <label for="">Cards not used</label>
                {{ cards_to_exclude | default('') | raw }}
                <input type="text" class="form-control" id="card_to_exclude" placeholder="Enter card name">
            </div>

        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Author name</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Enter author name" value="{{ author }}">
            </div>
            <div class="form-group">
                <label for="">Decklist name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ name }}" placeholder="Enter text to search in name">
            </div>
            <div class="form-group">
                <label for="">Sort</label> <select class="form-control" id="sort" name="sort">
                    <option value="popularity"{{ sort_popularity|default('') }}>by Popularity</option>
                    <option value="date"{{ sort_date|default('') }}>by Date</option>
                    <option value="likes"{{ sort_likes|default('') }}>by Number of Likes</option>
                    <option value="reputation"{{ sort_reputation|default('') }}>by Reputation of Author</option>
                    <option value="threat"{{ sort_threat|default('') }}>by Starting Threat</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="require_description" name="require_description" {% if require_description %}checked{% endif %}>
                    Require a deck description
                </label>
            </div>
            <br>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
        <div class="col-sm-4">
            <p><a data-toggle="collapse" data-target="#allowed_packs" href="#allowed_packs">Select allowed packs</a> (<span id="packs-on">{{ on }}</span> on, <span id="packs-off">{{ off }}</span> off)</p>
            <div id="allowed_packs" class="collapse">
                <div class="pull-right""><a href="#" id="select_all"><span class="fa fa-check"></span> all</a> / <a href="#" id="select_none"><span class="fa fa-times"></span> none</a></div>
                {% for category in allowed %}
                    <p><small>{{ category.label }}</small></p>
                    {% for pack in category.packs %}
                        <div class="checkbox">
                            <label class="{% if pack.future %}pack-future{% endif %}"><input type="checkbox" name="packs[]" value="{{ pack.id }}" {% if pack.checked %}checked="checked" {% endif %}>{{ pack.label }}</label>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
