<!DOCTYPE html>
<html>
<head>
    <title>{{ pagetitle | default('Deckbuilder') }} &middot; RingsDB</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" sizes="192x192" href="/icon-192.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/icon-120.png"/>
    <link rel="shortcut icon" href="/favicon.ico?v=2"/>

    {% if pagedescription is defined %}
        <meta name="description" content="{{ pagedescription }} &middot; RingsDB, a LotR LCG Deckbuilder">
    {% endif %}

    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">#}
    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.css">#}
    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">#}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Amiri:400,400italic,700,700italic|Julius+Sans+One|Open+Sans:400,400italic,700,700italic|Open+Sans+Condensed:300">

    {% stylesheets filter="cssrewrite,scssphp" output="css/app.css"
        'bundles/app/cdn/css/font-awesome.min.css'
        'bundles/app/cdn/css/jquery.qtip.css'
        'bundles/app/cdn/css/bootstrap-markdown.min.css'
        'bundles/app/css/bootstrap.css'
        'bundles/app/css/style.scss'
        'bundles/app/css/icons.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {% block stylesheets %}{% endblock %}

    {% if app.environment == 'prod' %}
        {% include 'AppBundle::google-analytics.html.twig' %}
    {% endif %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">

                {% block navbar %}
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('index') }}"><span class="icon icon-logo logo"></span> RingsDB</a>
                    </div>

                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown hidden-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Collection <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('decks_list') }}">Decks</a></li>
                                    <li><a href="{{ path('myfellowships_list') }}">Fellowships</a></li>
                                    <li><a href="{{ path('myquestlogs_list') }}">Quest Logs</a></li>
                                    <li><a href="{{ path('collection_packs') }}">Adventure Packs</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('decks_list') }}" class="visible-xs-block">My Decks</a></li>
                            <li><a href="{{ path('myfellowships_list') }}" class="visible-xs-block">My Fellowships</a></li>
                            <li><a href="{{ path('myquestlogs_list') }}" class="visible-xs-block">My Quest Logs</a></li>
                            <li><a href="{{ path('collection_packs') }}" class="visible-xs-block">My Adventure Packs</a></li>
                            <li><a href="{{ path('decklists_list') }}">Decklists</a></li>
                            <li><a href="{{ path('fellowships_list') }}">Fellowships</a></li>
                            <li><a href="{{ path('questlogs_list') }}">Quest Logs</a></li>
                            <li class="dropdown hidden-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cards <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('cards_search') }}">Search</a></li>
                                    <li><a href="{{ path('card_reviews_list') }}">Reviews</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('cards_search') }}" class="visible-xs-block">Cards</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown hidden-xs hidden-lg">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-search"></span></a>
                                <div class="dropdown-menu">
                                    <form action="{{ path('cards_find') }}" style="padding-left: 5px; padding-right: 5px;">
                                        <input type="text" placeholder="Card Search" class="form-control " name="q">
                                    </form>
                                </div>
                            </li>
                            <li id="login">
                                <a href="#" class="disabled"><span class="fa fa-user"></span></a>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right visible-lg-block visible-xs-block external" action="{{ path('cards_find') }}">
                            <div class="form-group">
                                <input type="text" placeholder="Card Search" class="form-control smart-filter-help" name="q">
                            </div>
                        </form>
                    </div>
                {% endblock %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        <div id="push"></div>
    </div>

    <footer class="hidden-print">
        <div class="container">
            {% block footer %}
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-inline">
                            <li><a href="{{ path('about') }}">About</a></li>
                            <li><a href="{{ path('api_intro') }}">API</a></li>
                            <li><a href="{{ path('patrons') }}">Patrons</a> <span class="fa fa-gift patron" title="The Gracious Patron"></span></li>
                        </ul>

                        <p>
                            Original <a href="http://thronesdb.com" target="_blank">ThronesDB</a> and <a href="http://netrunnerdb.com" target="_blank">NetrunnerDB</a> code designed and built by Alsciende.
                            Adapted to The Lord of the Rings: The Card Game by Sydtrack. Contact:
                            <a href="mailto:sydtrack@ringsdb.com" title="Email"><span class="fa fa-envelope"></span></a>
                            <a href="https://www.facebook.com/RingsDB/" title="Facebook" target="_blank"><span class="fa fa-facebook-official"></span></a>
                            <a href="https://reddit.com/user/Sydtrack/" title="Reddit" target="_blank"><span class="fa fa-reddit-alien"></span></a>
                        </p>

                        <p>RingsDB card images and data kindly supplied by <a href="http://hallofbeorn.com" target="_blank">Hall of Beorn</a>.</p> 

                        <p>Please post bug reports and feature requests on <a href="https://github.com/Seastan/ringsdb/issues" target="_blank">GitHub</a>.</p>

                        <p>
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHLwYJKoZIhvcNAQcEoIIHIDCCBxwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBZnsDnv+eGPEAPxaHjBdqFE4B7A80D9Qb1a5v+2mm2AbaHvNyg3SAEQSyTqN77p6tR5WEx/vgwibyp7ihAzEUw4zgAFvAT0/18uJ7+/EZai0303gC/3HmRLGNF0772tVwvq76RpMhmraWuklNpTyD8h2UYSZSyGSN/1R3qKawXITELMAkGBSsOAwIaBQAwgawGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIg1n3e+Shr5eAgYi1XGXO6kPv5wWUO79L5VAPgcyvxDxyyXkYwALJpHY3xhaQV/7BtEEawSWoC9wfpK2VNRzNjt8udeqMqzkLeUnfihYiZ+F1m5mmnrWug6lEBBxKdStrBqlC2qzcTgOYCW+8IbUtrT0emKmlenv3T54S0mmIoiRNc2gDySu/fBSRfe/WTe5F/EU8oIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYwMzE5MDIyOTAzWjAjBgkqhkiG9w0BCQQxFgQUU+WvYzZ6+0VIsvVCRI3HPrEqyMkwDQYJKoZIhvcNAQEBBQAEgYBJlKPJe5iLTTT6tUuGiJh1tn3G9GyflWPicx82sijZBU2YXOVXkCSpNPyKYipC2fu7LqUuYqpIgIYc0nTuI2Nn03lafw4qPopPsiR2aXLeah89JAlORdEn6dN+V20LyvzDueb7eUVRmiS+7lHUS7ArC/g0j/JzJBQdd3qYvjDWqg==-----END PKCS7-----">
                                You may contribute by donating on <button type="submit" class="btn btn-link paypal">PayPal</button>.
                            </form>
                        </p>


                        <p>
                            The information presented on this site about The Lord of the Rings: The Card Game, both literal and graphical, is copyrighted by Fantasy Flight Games.
                            This website is not produced, endorsed, supported, or affiliated with Fantasy Flight Games.
                        </p>

                        <div class="site-rule hidden-sm hidden-xs"><span class="icon-rule"></span></div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </footer>

    {% include 'AppBundle:Modale:card.html.twig' %}

    <script src="{{ asset('/bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { "callback": "fos.Router.setData" }) }}"></script>

    {% javascripts output="js/extra.js"
        '@AppBundle/Resources/public/cdn/js/jquery.min.js'
        '@AppBundle/Resources/public/cdn/js/jquery-ui.min.js'
        '@AppBundle/Resources/public/cdn/js/underscore-min.js'
        '@AppBundle/Resources/public/cdn/js/jquery.qtip.js'
        '@AppBundle/Resources/public/cdn/js/typeahead.jquery.min.js'
        '@AppBundle/Resources/public/cdn/js/marked.min.js'
        '@AppBundle/Resources/public/cdn/js/jquery.textcomplete.min.js'
        '@AppBundle/Resources/public/cdn/js/moment.min.js'
        '@AppBundle/Resources/public/cdn/js/highcharts.js'
        '@AppBundle/Resources/public/cdn/js/bootstrap.js'
        '@AppBundle/Resources/public/cdn/js/bootstrap-markdown.min.js'
        '@AppBundle/Resources/public/cdn/js/fdb-all.min.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.1/jquery.qtip.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/0.2.2/jquery.textcomplete.min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.3/highcharts.js"></script>#}
    {#<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>#}

    <script type="text/javascript">
        var app = {};
        moment.locale('en-US');

        $(function() {
            {% for flashMessage in app.session.flashbag.get('notice') %}
                app.ui.insert_alert_message('success', {{ flashMessage | json_encode | raw }});
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('warning') %}
                app.ui.insert_alert_message('warning', {{ flashMessage | json_encode | raw }});
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                app.ui.insert_alert_message('danger', {{ flashMessage | json_encode | raw }});
            {% endfor %}
        });
    </script>

    {% javascripts filter="?jsqueeze" output="js/app.js"
        '@AppBundle/Resources/public/js/app.data.js'
        '@AppBundle/Resources/public/js/app.format.js'
        '@AppBundle/Resources/public/js/app.tip.js'
        '@AppBundle/Resources/public/js/app.card_modal.js'
        '@AppBundle/Resources/public/js/app.user.js'
        '@AppBundle/Resources/public/js/app.binomial.js'
        '@AppBundle/Resources/public/js/app.hypergeometric.js'
        '@AppBundle/Resources/public/js/app.draw_simulator.js'
        '@AppBundle/Resources/public/js/app.play_simulator.js'
        '@AppBundle/Resources/public/js/app.textcomplete.js'
        '@AppBundle/Resources/public/js/app.markdown.js'
        '@AppBundle/Resources/public/js/app.smart_filter.js'
        '@AppBundle/Resources/public/js/app.deck.js'
        '@AppBundle/Resources/public/js/app.diff.js'
        '@AppBundle/Resources/public/js/app.deck_history.js'
        '@AppBundle/Resources/public/js/app.deck_charts.js'
        '@AppBundle/Resources/public/js/app.deck_selection.js'
        '@AppBundle/Resources/public/js/app.suggestions-mixed.js'
        '@AppBundle/Resources/public/js/app.ui.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</body>
</html>
