<form method="GET" action="{{ path('fellowships_list', { type:'find' }) }}" role="form">
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Number of Decks</label>
                <select class="form-control" id="nb_decks" name="nb_decks">
                    <option value="">any</option>
                    {%  for i in 1..4 %}
                        <option value="{{ i }}"{% if nb_decks_selected is defined and nb_decks_selected == i %} selected="selected"{% endif %}>{{ i }}</option>
                    {%  endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="">Max Number of Core Sets</label>
                <i class="fa fa-question-circle" title="Select fellowships that can be built with this many Core Sets. For example, setting this to 12 will match all fellowships, even ones that require 12 Unexpected Courages (a 1x Core Set card)."></i>
                <select name="numcores" id="numcores" class="form-control">
                    <option value="12" {% if numcores == '12' %}selected="selected"{% endif %}>12</option>
                    <option value="11" {% if numcores == '11' %}selected="selected"{% endif %}>11</option>
                    <option value="10" {% if numcores == '10' %}selected="selected"{% endif %}>10</option>
                    <option value="9" {% if numcores == '9' %}selected="selected"{% endif %}>9</option>
                    <option value="8" {% if numcores == '8' %}selected="selected"{% endif %}>8</option>
                    <option value="7" {% if numcores == '7' %}selected="selected"{% endif %}>7</option>
                    <option value="6" {% if numcores == '6' %}selected="selected"{% endif %}>6</option>
                    <option value="5" {% if numcores == '5' %}selected="selected"{% endif %}>5</option>
                    <option value="4" {% if numcores == '4' %}selected="selected"{% endif %}>4</option>
                    <option value="3" {% if numcores == '3' %}selected="selected"{% endif %}>3</option>
                    <option value="2" {% if numcores == '2' %}selected="selected"{% endif %}>2</option>
                    <option value="1" {% if numcores == '1' %}selected="selected"{% endif %}>1</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Max Number of Non-Core Playsets</label>
                <i class="fa fa-question-circle" title="Select fellowships that can be built with this many playsets. For example, setting this to 2 indicates that you have 2 copies of all the packs that have been selected on the right (other than Core Sets, which is set above). So it would match fellowships that use up to 6 copies of a non-Core card like Daeron's Runes, but no more."></i>
                <select name="numplaysets" id="numplaysets" class="form-control">
                    <option value="4" {% if numplaysets == '4' %}selected="selected"{% endif %}>4</option>
                    <option value="3" {% if numplaysets == '3' %}selected="selected"{% endif %}>3</option>
                    <option value="2" {% if numplaysets == '2' %}selected="selected"{% endif %}>2</option>
                    <option value="1" {% if numplaysets == '1' %}selected="selected"{% endif %}>1</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Cards used</label>
                {{ cards | default('') | raw }}
                <input type="text" class="form-control" id="card" placeholder="Enter card name">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="">Author name</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Enter author name" value="{{ author }}">
            </div>
            <div class="form-group">
                <label for="">Fellowship name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ name }}" placeholder="Enter text to search in name">
            </div>
            <div class="form-group">
                <label for="">Sort</label> <select class="form-control" id="sort" name="sort">
                    <option value="popularity"{{ sort_popularity | default('') }}>by Popularity</option>
                    <option value="date"{{ sort_date | default('') }}>by Date</option>
                    <option value="likes"{{ sort_likes | default('') }}>by Number of Likes</option>
                    <option value="reputation"{{ sort_reputation | default('') }}>by Reputation of Author</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
        <div class="col-sm-4">
            <p><a data-toggle="collapse" data-target="#allowed_packs" href="#allowed_packs">Select allowed packs</a> (<span id="packs-on">{{ on }}</span> on, <span id="packs-off">{{ off }}</span> off)</p>
            <div id="allowed_packs" class="collapse">
                <div class="pull-right""><a href="#" id="select_all"><span class="fa fa-check"></span> all</a> / <a href="#" id="select_none"><span class="fa fa-times"></span> none</a></div>
                {% for category in allowed %}
                    <p><small>{{ category.label }}</small></p>
                    {% for pack in category.packs %}
                        <div class="checkbox">
                            <label class="{% if pack.future %}pack-future{% endif %}"><input type="checkbox" name="packs[]" value="{{ pack.id }}" {% if pack.checked %}checked="checked" {% endif %}>{{ pack.label }}</label>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</form>
