{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/ui.fellowships.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="main white container">
        <div class="row">
            <div class="col-md-12">
                <div class="fellowships-table-buttons">
                    <a href="{{ path('fellowship_new') }}" class="btn btn-default btn-sm"><span class="fa fa-plus"></span> New Fellowship</a>

                    <div class="btn-group hidden-xs" id="btn-group-selection">
                        <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
                            <span class="fa fa-check-square-o"></span> With Selection <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header"><span class="fa fa-trash-o"></span> Delete</li>
                            <li><a href="#" id="btn-delete-selected"><span style="color:red" class="fa fa-exclamation-triangle"></span> Delete all selected fellowships</a></li>
                        </ul>
                    </div>
                </div>

                <h1>My fellowships</h1>

                <table class="table list-fellowships">
                    <tbody id="fellowships">
                    {% for fellowship in fellowships %}
                        {% set decks = fellowship.decks | merge(fellowship.decklists) %}

                        <tr data-id="{{ fellowship.id }}">
                            <td class="hidden-xs fellowship-checkbox"><input type="checkbox"></td>
                            <td>
                                <div class="row">
                                    <div class="col-sm-6 col-md-7 col-lg-8">
                                        <h4 class="fellowship-name"><a href="{{ path('fellowship_view', { fellowship_id: fellowship.id }) }}">{{ fellowship.name }}</a></h4>
                                    </div>
                                    <div class="col-sm-6 col-md-5 col-lg-4">
                                        <div class="fellowships-actions">
                                            <span class="deck-count">
                                                {% for i in 1..fellowship.nbDecks %}
                                                    <i class="fa fa-user"></i>
                                                {% endfor %}
                                            </span>

                                            {% if fellowship.isPublic %}
                                                <small class="social">{{ macros.static_fellowship_social_icons(fellowship) }}</small>
                                            {% endif %}

                                            <a href="{{ path('fellowship_edit', { fellowship_id: fellowship.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" data-container="body" title="Edit">
                                                <span class="fa fa-pencil fa-fw"></span>
                                            </a>


                                            {#<button class="btn btn-xs btn-default btn-log-quest" data-toggle="tooltip" data-container="body" title="Log a Quest">#}
                                                {#<span class="fa fa-book fa-fw"></span>#}
                                            {#</button>#}

                                            {% if not fellowship.isPublic %}
                                                <a href="{{ path('fellowship_view', { fellowship_id: fellowship.id }) }}" class="btn btn-xs btn-default disabled" disabled data-toggle="tooltip" data-container="body" title="Publish">
                                                    <span class="fa fa-share fa-fw"></span>
                                                </a>
                                            {% endif %}

                                            <button class="btn btn-xs btn-default btn-delete-fellowship" data-toggle="tooltip" data-container="body" title="Delete">
                                                <span class="fa fa-trash-o fa-fw"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% for deck in decks %}
                                            {% if deck.deck is defined %}
                                                {% set decklist = deck.deck %}
                                                {% set social = false %}
                                            {% else %}
                                                {% set decklist = deck.decklist %}
                                                {% set social = true %}
                                            {% endif %}

                                            <div class="fellowship-heroes" data-id="{{ decklist.id }}">
                                                {% for hero in decklist.getSlots().getHeroDeck() %}
                                                    {% set card = hero.getCard() %}
                                                    <div class="decklist-hero border-light-{{ card.sphere.code }}">
                                                        <div class="hero-thumbnail card-thumbnail-4x card-thumbnail-hero" style="background-image:url('{{ asset('/bundles/cards/' ~ card.code ~ '.png') }}')"></div>
                                                    </div>
                                                {% endfor %}
                                            </div>

                                            <div class="fellowship-deck-info">

                                                {% if social %}
                                                    <h4 style=""><i><a href="{{ path('decklist_detail', { decklist_id: decklist.id, 'decklist_name': decklist.nameCanonical|e('url') }) }}">{{ decklist.name }}</a></i></h4>
                                                {% else %}
                                                    <h4 style=""><i><a href="{{ path('deck_view', { deck_id: decklist.id }) }}">{{ decklist.name }}</a></i></h4>
                                                {% endif %}
                                                <span class="small fellowship-hero-text hidden-xs">
                                                    {% for hero in decklist.getSlots().getHeroDeck() %}
                                                        {% set card = hero.getCard() %}
                                                        <a class="card card-tip fg-{{ card.sphere.code }}" data-code="{{ card.code }}" data-toggle="modal" data-target="#cardModal" data-remote="false" href="">
                                                            <span class="icon-{{ card.sphere.code }}"></span> {{ card.name }} <i>({{ card.pack.code }})</i>
                                                        </a>
                                                    {% endfor %}
                                                </span>
                                                {% if social %}
                                                    <small class="social">{{ macros.static_social_icons(decklist) }}</small>
                                                {% else %}
                                                    <div class="tags" style="display: inline-block"><span class="tag">Unpublished.</span></div>
                                                {% endif %}
                                            </div>
                                            <div class="block" style="height: 15px; clear:both;"></div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- / Left-side column -->

        </div>
    </div>

    {% include 'AppBundle:Modale:file.html.twig' %}
    {% include 'AppBundle:Modale:delete_fellowship.html.twig' %}
    {% include 'AppBundle:Modale:delete_fellowship_list.html.twig' %}
    {% include 'AppBundle:Modale:export.html.twig' %}
    {% include 'AppBundle:Modale:odds.html.twig' %}
    {% include 'AppBundle:Modale:tag_add.html.twig' %}
    {% include 'AppBundle:Modale:tag_remove.html.twig' %}
    {% include 'AppBundle:Modale:tag_clear.html.twig' %}
    {% include 'AppBundle:Modale:diff.html.twig' %}
    {% include 'AppBundle:Modale:archive.html.twig' %}

{% endblock %}
