<h1>Logged Quests</h1>

<table class="table list-questlogs">
    <tbody id="questlogs">
    {% for questlog in questlogs %}
        {% set decks = questlog.decks %}

        <tr data-id="{{ questlog.id }}">
            <td class="hidden-xs questlog-checkbox"><input type="checkbox"></td>
            <td>
                <div class="row">
                    <div class="col-sm-7 col-md-8 col-lg-9">
                        <h4 class="questlog-name"><a href="{{ path('questlog_view', { questlog_id: questlog.id }) }}">{{ questlog.name }}</a></h4>
                        <div class="questlog-result">
                            <strong>{{ questlog.scenario.name }}</strong> - {{ questlog.questMode | capitalize }} - {{ questlog.success ? 'Victory' : 'Defeat' }}
                            {% if questlog.score > 0 %} with a score of {{ questlog.score }} points{% endif %} on {{ questlog.datePlayed | date('F d, Y') }}
                        </div>
                    </div>
                    <div class="col-sm-5 col-md-4 col-lg-3">
                        <div class="questlogs-actions">
                            <span class="deck-count">
                                {% for i in 1..questlog.nbDecks %}
                                    <i class="fa fa-user"></i>
                                {% endfor %}
                            </span>

                            {% if questlog.isPublic %}
                                <small class="social">{{ macros.static_questlog_social_icons(questlog) }}</small>
                            {% endif %}

                            <div class="block"></div>

                            <a href="{{ path('questlog_edit', { questlog_id: questlog.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" data-container="body" title="Edit">
                                <span class="fa fa-pencil fa-fw"></span>
                            </a>

                            <label class="btn btn-xs btn-default" data-action="delete-questlog" data-toggle="tooltip" data-container="body" title="Delete">
                                <span class="fa fa-trash-o fa-fw"></span>
                            </label>
                        </div>
                    </div>
                </div>

                {% for deck in decks %}
                {% if deck.decklist is not null %}
                    {% set decklist = deck.decklist %}
                    {% set social = true %}
                {% else %}
                    {% set decklist = deck.deck %}
                    {% set social = false %}
                {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="questlog-deck-info small">
                                {% if social %}
                                    <a href="{{ path('decklist_detail', { decklist_id: decklist.id, 'decklist_name': decklist.nameCanonical|e('url') }) }}">{{ decklist.name }}</a>
                                {% else %}
                                    <a href="{{ path('deck_view', { deck_id: decklist.id }) }}">{{ decklist.name }}</a>
                                {% endif %}
                                <span class="questlog-hero-text hidden-xs">
                                    {% for hero in decklist.getSlots().getHeroDeck() %}
                                        {% set card = hero.getCard() %}
                                        <a class="card card-tip fg-{{ card.sphere.code }}" data-code="{{ card.code }}" data-toggle="modal" data-target="#cardModal" data-remote="false" href="">
                                            <span class="icon-{{ card.sphere.code }}"></span> {{ card.name }} <i>({{ card.pack.code }})</i>
                                        </a>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>