{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
<h1>Scenario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Pack</th>
                <td>{{ entity.pack.name }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Encounters</th>
                <td>{{ entity.encounters | join('<br>') | raw }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('/bundles/app/images/encounters/' ~ entity.name ~ '.png') }}"></td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('admin_scenario') }}" class="btn btn-default">
            Back to the list
        </a>
        <a href="{{ path('admin_scenario_edit', { 'id': entity.id }) }}" class="btn btn-default">
            Edit
        </a>
        <form action="{{ path('admin_scenario_delete', { 'id': entity.id }) }}" method="post" style="display:inline-block">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
{% endblock %}
