{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="main white container">
        <div class="jumbotron background-{{ user.color }}-10">
            <h1><span class="fg-{{ user.color }}">{{ user.username }}</span>
                {% if user.donation > 0 %}<span class="fa fa-gift patron" title="RingsDB Gracious Patron"></span>{% endif %}
                <small>{{ user.reputation }}</small>
            </h1>

            <p>Member since {{ user.dateCreation|date('Y-m-d') }}.</p>

            <div>
                {% if user.decklists|length > 1 %}
                    <a href="{{ path('decklist_byauthor', { username: user.username }) }}">{{ user.decklists | length }} published decklists.</a>
                {% elseif user.decklists|length == 1 %}
                    <a href="{{ path('decklist_byauthor', { username: user.username }) }}">One published decklist.</a>
                {% else %}
                    No published decklist.
                {% endif %}
            </div>

            <div>
                {% if user.publicFellowships | length > 1 %}
                    <a href="{{ path('fellowship_byauthor', { username: user.username }) }}">{{ user.publicFellowships | length }} published fellowships.</a>
                {% elseif user.publicFellowships | length == 1 %}
                    <a href="{{ path('fellowship_byauthor', { username: user.username }) }}">One published fellowship.</a>
                {% else %}
                    No published fellowship.
                {% endif %}
            </div>

            <div>
                {% if user.reviews|length > 1 %}
                    <a href="{{ path('card_reviews_list_byauthor', { page: 1, user_id: user.id }) }}">{{ user.reviews | length }} published reviews.</a>
                {% elseif user.reviews|length == 1 %}
                    <a href="{{ path('card_reviews_list_byauthor', { page: 1, user_id: user.id }) }}">One published review.</a>
                {% else %}
                    No published reviews.
                {% endif %}
            </div>
            <p></p>

            {% if user.resume %}
                <p><em>{{ user.resume }}</em></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
