<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<deck game="a21af4e8-be4b-4cda-a6b6-534f9717391f">
  <section name="Hero" shared="False">
{% for slot in deck.slots_by_type.contract %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
{% for slot in deck.slots_by_type.hero %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Ally" shared="False">
{% for slot in deck.slots_by_type.ally %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Attachment" shared="False">
{% for slot in deck.slots_by_type.attachment %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
{% for slot in deck.slots_by_type.treasure %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Event" shared="False">
{% for slot in deck.slots_by_type.event %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Side Quest" shared="False">
{% for slot in deck.slots_by_type['player-side-quest'] %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Sideboard" shared="False">
{% for group in deck.sideslots_by_type %}
{% for slot in group %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnid }}">{{ slot.card.name }}</card>
{% endfor %}
{% endfor %}
  </section>
  <section name="Quest" shared="True" />
  <section name="Encounter" shared="True" />
  <section name="Special" shared="True" />
  <section name="Setup" shared="True" />
  <notes><![CDATA[]]></notes>
</deck>
